* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: 'Calibri';
	color: #000;
	list-style: none;
	box-sizing: border-box;
}
body{
	background-color: #c7c7c7;
}
.main{
	
	width: 100%;
	height: 100%;
}
.content{
	max-width: 400px;
	height: 100%;
	margin: auto;
}
.header{
	text-align: center;
	position: fixed;
	background-color: #c7c7c7;
	width: 100%;
}
.header .logo{
	width: 200px;
	display: inline-block;
}
.header .menu{
	display: inline-flex;
	width: 100%;
	margin-top: 10px;
}
.header .menu li{
	width: 50%;
	text-align: center;
	font-weight: 700;
	font-size: 22px;
	padding: 3px 0px;
	border: solid 1px #000;
}
.header li:hover{
	background-color: #fff;
	cursor: pointer;
	font-size: 25px;
}
.header .menu li img{
	display: inline-block;
	width: 30px;
	padding-right: 10px;
}
.teste{
	padding-top: 190px;
}

@media only screen and (min-width: px){

}
